html {
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	margin-left: auto;         /* Автоматический отступ слева */
	margin-right: auto;        /* Автоматический отступ справа */
	max-width: 1440px;
	width: 100%;
	background: rgb(247, 247,247);
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

.header {
	height: 69px;
	border-bottom: 1px solid rgb(200,200,200);
}

.container-header {
	display: flex;
	margin: 20px 30px;
}

.nav-header {
	margin-top: 15px;
	max-width: 33%;
}

.nav-header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.nav-header__item {
	margin-right: 20px;	

	font-family: 'Cardo', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
	text-align: center;
	color: rgb(0, 0, 0);
}

.nav-header__link {
	cursor: pointer;

	&:hover {
		border-bottom: 1px solid rgb(128, 128, 128);
		transition: all .2s ease-in-out;
	}

	&:active {
		color: rgb(0, 0, 0, .5);
	}
}

.logo {
	margin-left: auto;
	margin-right: 41%;
}

.head {
	height: 698px;
	background-color: rgb(200,200,200);
	background-image: url(../images/head-img.jpg);
}

.container-head {
	display: flex;	
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	padding: 240px 317px;
}

.title-head {
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 27px;
	font-weight: 700;
	line-height: 38.4px;
	letter-spacing: 0.2px;
	text-align: center;
	color: rgb(255, 255, 255);
}

.head-btn {
	cursor: pointer;
	width: 204px;
	height: 33px;
	font-family: 'Cardo', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: inherit;
	border: 1px solid rgb(255, 255, 255);

	&:hover {
		background-color: rgba(255, 255, 255, .2);
		transition: all .2s ease-in-out;
	}

	&:active {
		color: rgb(128, 128, 128);
		border: 1px solid rgb(128, 128, 128);
	}
}

.info {
	height: 155px;
}

.container-info {
	padding: 53px 69px;
}

.info-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.info-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 238px;
	height: 50px;
}

.info-item-img {
	margin-right: 22px;
	max-height: 49px;
}

.info-item-text {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 23.8px;
	letter-spacing: 0.2px;
	text-align: left;
	color: rgb(0, 0, 0);
}

.gallery {
	margin-bottom: 115px;
	height: 320px;
}

.gallery-list {
	display: flex;
}

.gallery-item {
	width: 360px;
	height: 320px;
}

.cloe,
.pelican,
.alada,
.alba-collection,
.batea-collection {
	display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1%;
    height: 542px;
}

.margin-bottom {
	margin-bottom: 22px;
}

.left-block {
	display: flex;
    flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

.content-section {
	width: 30%;
}

.title-section {
	margin-bottom: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 33px;
	font-weight: 700;
	line-height: 56px;
	color: rgb(0, 0, 0);
}

.sub-title-section {
	margin-bottom: 19px;
	font-family: 'Cardo', sans-serif;
	font-style: italic;
	font-size: 18px;
	font-weight: 400;
	line-height: 37.14px;
	color: rgb(0, 0, 0);
}

.price-section {
	margin-bottom: 12px;
	font-family: 'Cardo', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 27.86px;
	color: rgb(0, 0, 0);
}

.text-section {
	margin-bottom: 26px;
	font-family: 'Cardo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30.6px;
	color: rgb(82, 82, 82);
}

.section-link {
	margin-top: 48px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 22px;
	color: rgb(0, 0, 0);
}

.block-ads {
	margin-top: 56px;
}

.img-section {
	width: 960px;
	height: 542px;
	background-color: lightgray;
	background-image: url(../images/sec-cloe-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: inline-block;
}

.new-section {
	color: rgb(188, 20, 20);
}

.pelican {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.right-block {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	text-align: left;
}

.batea-collection {
	margin-bottom: 61px;
}

.our-piece {
	margin-bottom: 43px;
}

.container-our-pieces {
	margin-right: 160px;
	margin-left: 160px;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.our-pieces__title {
	font-family: Cardo;
	font-size: 30px;
	font-weight: 700;
	line-height: 39px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(58, 58, 58);
}

.our-pieces__subtitle {
	margin-bottom: 37px;
	font-family: Cardo;
	font-size: 18px;
	font-weight: 400;
	line-height: 33.43px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(0, 0, 0);
}

.our-pieces__slider { 
	display: flex;
	flex-direction: column;
    align-items: center;
	margin-bottom: 55px;
}

.our-pieces-list { /* временно, до реализации слайдера */
	display: flex;
	flex-direction: row;
    gap: 10px;
	margin-bottom: 20px;
}

.our-pieces__text {
	padding: 83px 0 37px;
	font-family: Cardo;
	font-style: italic;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(2, 2, 2);
}

.our-pieces__autor {
	margin-bottom: 49px;
	font-family: Cardo;
	font-size: 15px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(0, 0, 0);
}

.slide {
	margin-bottom: 52px;
}